<h1>Tweets Listing <span id="tweets-count">(<%= @tweets.count %>)</span></h1>

<%= form_for @tweet, remote: true do |f| %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit "Tweet it" %>
<% end %>

<table id="tweets-container">
  <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tweets %>
  </tbody>
</table>
